body{
    font-family: Arial, Helvetica, sans-serif;
}
.login-page {
    background: #EAEEF4;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.login {
    max-width: 450px;
    background: #fff;
    align-self: center;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px #c8c8c8;
}
.login h2 {
    color: rgb(0, 188, 212);
    font-weight: 600;
}
/* .signup_onlogin{
    background: #fff;
}
.signup_onlogin span{
    color: rgb(0, 188, 212)!important
} */
/* .note_button button{
    display: none!important;
} */
.add_new_note{
    text-align: right;
}
.note_title{
    background:#f1f1f1;
    padding: 5px 10px!important; 
}
.btn_not_action{
    text-align: right;
}
.btn_not_action button{
    background: #f1f1f1!important;
}
.mdoal_pop h3{
    background: rgb(0, 188, 212);
    color: #fff!important;
    padding: 10px 20px!important;
}
.modal_btn{
    margin-top: 30px!important;
    text-align: right;
}
.modal_btn button{
    background:#f1f1f1!important;
    margin: 0px 10px!important;
}